@import "main-bx";

.header {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    padding: 40px 115px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: $white-color;
        opacity: 0.25;
        height: calc(100% + 40px);
        width: 1px;
        top: -40px;
    }
    &::before {
        right: 50%;
        transform: translateX(-50%);
    }
    &::after {
        right: 114px;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-logo {
            z-index: 6;
        }
    }
    &__burger {
        position: absolute;
        right: 40px;
        top: 60px;
        width: 32px;
        height: 23px;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 6;
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            background-color: $white-color;
        }
        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: $white-color;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    &__social {
        li {
            margin-bottom: 35px;
        }
    }
    &__center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        margin-top: -30px;
        &-arrow {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                background-color: $white-color;
                opacity: 0.25;
                width: 100%;
                height: 1px;
                right: 0;
                top: 0;
            }
        }
        &-left {
            padding-left: 90px;
        }
        &-right {
            position: absolute;
            right: -70px;
            top: 0;
            text-align: center;
            z-index: 6;
        }
    }
    &__bottom {
        padding-bottom: 60px;
        height: 20px;
        position: relative;
        display: flex;
        cursor: pointer;
        z-index: 6;
        &-text {
            font-size: 16px;
            display: block;
            user-select: none;
        }
        &-line {
            position: relative;
            display: flex;
            margin: 0 20px 0 -20px;
            span {
                display: block;
                position: absolute;
                bottom: -15px;
                width: 3px;
                background-color: $white-color;
                &:nth-child(1) {
                    left: -7px;
                    height: 15px;
                    &.active {
                        animation: soundOn 0.8s infinite ease-in-out;
                    }
                }
                &:nth-child(2) {
                    left: 0;
                    height: 20px;
                    &.active {
                        animation: soundOn 0.6s infinite ease-in-out;
                    }
                }
                &:nth-child(3) {
                    right: -10px;
                    height: 10px;
                    &.active {
                        animation: soundOn 0.4s infinite ease-in-out;
                    }
                }
            }
        }
    }
    &__menu {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $header_menu-bg;
        z-index: 5;
        transform: translateX(100%);
        @include transition;
        &.active {
            transform: translateX(0);
        }
        &-left {
            flex: 0 0 50%;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: $white-color;
                opacity: 0.25;
            }
        }
        &_navigation {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                display: inline-block;
                font-size: 48px;
                color: $white-color;
                margin-bottom: 45px;
                width: 100%;
                min-width: 270px;
                @include transition;
                &:hover {
                    color: $red-color-hover;
                    font-family: $font-bold;
                }
            }
        }
        &-right {
            background-color: $red-color;
            width: 115px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
.glitch {
    text-transform: uppercase;
    color: $black_default-color;
    font-size: 350px;
    font-family: $font-bold;
    line-height: 0.75;
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%) scale3d(1, 1, 1);
    left: 90px;
    z-index: 1;
    &::before,
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        color: $black_default-color;
        clip: rect(0, 100px, 0, 0);
    }
    &.active {
        &::before,
        &::after {
            animation: glitch-effect 1.5s infinite linear alternate;
        }
    }

    &::before {
        left: 7px;
        text-shadow: 1px 0 $white-color;
    }

    &::after {
        left: 3px;
        text-shadow: -1px 0 $red-color-hover;
    }
    &:hover {
        &::before {
            animation: glitch-effect 3s infinite linear alternate;
        }

        &::after {
            animation: glitch-effect 2s infinite linear alternate;
        }
    }
}
$steps: 20;
@keyframes glitch-effect {
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(260) + px, 1070px, random(260) + px, 0);
        }
    }
}
.arrow-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 110px;
    background-color: $red-color;
    position: absolute;
    left: 0;
    top: 1px;
}
@keyframes soundOn {
    0% {
        height: 20px;
    }
    100% {
        height: 5px;
    }
}

#pp-nav {
    display: none;
    &.active {
        display: block;
    }
}
