@import "main-bx";

.about {
    position: relative;
    padding: 435px 60px 123px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        position: relative;
        color: $about-white-text;
        text-align: center;
        line-height: 1.4;
        font-size: 72px;
        font-family: $font-bold;
        z-index: 1;
        max-width: 835px;
        width: 100%;
        margin: 0 auto;
        text-transform: uppercase;
    }
    &.white-bg {
        background-color: $about-white-bg;
        h2,
        a {
            color: $about-white-text;
        }
    }
    &.black-bg {
        background-color: $about-white-text;
        h2,
        a {
            color: $about-white-bg;
        }
        .about__pdeudo-bg span {
            color: rgb(26, 26, 26);
        }
    }
    &.show {
        h2 {
            margin-bottom: 232px;
        }
    }
    &.do-not {
        padding: 480px 60px 122px;
        h2 {
            margin-bottom: 284px;
        }
    }
    &.recognize {
        padding: 480px 60px 122px;
        h2 {
            margin-bottom: 295px;
        }
    }
    &.love {
        padding: 480px 60px 122px;
        h2 {
            margin-bottom: 290px;
        }
    }
    &.reach {
        padding: 487px 60px 122px;
        h2 {
            margin-bottom: 279px;
        }
    }
    &__line {
        position: absolute;
        z-index: 1;
        &.left {
            left: 60px;
            top: 50px;
        }
        &.right {
            top: -205px;
            right: 60px;
        }
    }
    &__mouse {
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(-50%);
        span {
            position: absolute;
            top: 0px;
            right: -6px;
            display: block;
            border: 2px solid $black_default-color;
            width: 16px;
            height: 26px;
            border-radius: 10px;
            background-color: $white-color;
            // animation: mouse 1.7s infinite ease-in-out;
            z-index: 1;
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 3px;
                width: 3px;
                height: 6px;
                background-color: $black_default-color;
            }
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 26px;
            right: -26px;
            width: 55px;
            height: 3px;
            transform: rotate(-90deg);
            background: linear-gradient(
                90deg,
                rgba(54, 53, 53, 1) 0%,
                rgba(124, 123, 123, 1) 49%,
                rgba(198, 195, 195, 1) 100%
            );
        }
    }
    &__menu {
        margin-left: 127px;
        li {
            margin-bottom: 6px;
        }
        a {
            font-size: 20px;
            color: $about-white-text;
            font-family: $font-Geometria-bold;
            @include transition;
            position: relative;
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: -115px;
                top: 10px;
                height: 2px;
                width: 0;
                background-color: $red-color;
                @include transition;
            }
            &:hover,
            &:focus,
            &:active {
                color: $red-color-hover;
                &::before {
                    width: 100px;
                }
            }
        }
    }
    &__pdeudo-bg {
        position: absolute;
        top: 66%;
        right: -50px;
        transform: rotate(90deg) translateX(-50%);
        z-index: 0;
        span {
            color: $about-white-pseudo-text;
            font-size: 250px;
            font-family: $font-bold;
        }
    }
}
@keyframes mouse {
    0% {
        top: 0;
    }
    100% {
        top: 60px;
    }
}
