@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya/Alegreya-Regular.ttf") format("ttf");
    src: url("../fonts/Alegreya/Alegreya-Regular.woff") format("woff");
    src: url("../fonts/Alegreya/Alegreya-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya-Bold";
    src: url("../fonts/Alegreya/Alegreya-Bold.ttf") format("ttf");
    src: url("../fonts/Alegreya/Alegreya-Bold.woff") format("woff");
    src: url("../fonts/Alegreya/Alegreya-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Alegreya-Black";
    src: url("../fonts/Alegreya/Alegreya-Black.ttf") format("ttf");
    src: url("../fonts/Alegreya/Alegreya-Black.woff") format("woff");
    src: url("../fonts/Alegreya/Alegreya-Black.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
