@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro/GothamPro.ttf") format("ttf");
    src: url("../fonts/GothamPro/GothamPro.woff") format("woff");
    src: url("../fonts/GothamPro/GothamPro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GothamPro-Bold";
    src: url("../fonts/GothamPro/GothamPro-Bold.ttf") format("ttf");
    src: url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff");
    src: url("../fonts/GothamPro/GothamPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Geometria-Medium";
    src: url("../fonts/Geometria/Geometria-Medium.ttf") format("ttf");
    src: url("../fonts/Geometria/Geometria-Medium.woff") format("woff");
    src: url("../fonts/Geometria/Geometria-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Geometria";
    src: url("../fonts/Geometria/Geometria.ttf") format("ttf");
    src: url("../fonts/Geometria/Geometria.woff") format("woff");
    src: url("../fonts/Geometria/Geometria.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Geometria-Bold";
    src: url("../fonts/Geometria/Geometria-Bold.ttf") format("ttf");
    src: url("../fonts/Geometria/Geometria-Bold.woff") format("woff");
    src: url("../fonts/Geometria/Geometria-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
